---
import "./Hero.styles.css";
---

<section class="hero">
  <div class="hero-container container">
    <small class="hero-subheadline">Integration platform for developers</small>
    <h1 class="hero-headline">Build awesome integrations without the hassle</h1>
    <p class="hero-copy">
      Friends don’t let friends build integrations alone. Our code-first
      integration platform and SaaS connectors remove the headaches of dealing
      with different APIs and eliminate the operational burden when running at
      scale.
    </p>
  </div>

  <div class="hero-background">
    <div class="blob"></div>
    <div class="blob blob1"></div>
    <div class="blob blob2"></div>
    <div class="blur"></div>
  </div>
</section>

<script>
  const blob = document.querySelector(".blob");

  window.onpointermove = (event) => {
    if (!blob) return;

    const { clientX, clientY } = event;

    blob.animate(
      {
        left: `${clientX}px`,
        top: `${clientY}px`,
      },
      {
        duration: 3000,
        fill: "forwards",
      }
    );
  };
</script>
