.hero {
  --hero-height: 80vh;
  --hero-text-max-width: 550px;
}

.hero-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--hero-height);
}

.hero-headline {
  color: var(--neutral-light);
  font-family: var(--sora);
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  margin-bottom: 2rem;
  max-width: var(--hero-text-max-width);
  position: relative;
}

.hero-subheadline {
  background: -webkit-linear-gradient(
    left,
    var(--orange) -70%,
    var(--neutral-light)
  );
  color: var(--neutral);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 1.5rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-copy {
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 3rem;
  max-width: var(--hero-text-max-width);
  position: relative;
}

.hero-background {
  --mask-transition: 0.5s ease-in-out;

  background: var(--dark);
  -webkit-mask-image: url("../../assets/images/hero-mask.svg");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-mode: alpha;
  -webkit-mask-position: 10% bottom;
  mask-image: url("../../assets/images/hero-mask.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-mode: alpha;
  mask-position: 10% bottom;
  min-height: var(--hero-height);
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: mask-position var(--mask-transition),
    -webkit-mask-position var(--mask-transition),
    min-height var(--mask-transition);
  width: 100%;
  z-index: -1;
  backdrop-filter: blur(20vmax);
}

@media screen and (max-width: 768px) {
  .hero-background {
    --hero-height: 95vh;

    -webkit-mask-position: 8%;
    mask-position: 8%;
  }
}

.hero-background .blob {
  animation: rotate 20s infinite;
  aspect-ratio: 1;
  background-color: white;
  background: var(--yellow);
  background: -webkit-linear-gradient(to right, var(--pink), var(--yellow));
  background: linear-gradient(to right, var(--pink), var(--yellow) 65%);
  border-radius: 50%;
  height: 34vmax;
  left: 70%;
  opacity: 0.4;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  z-index: -1;
  filter: blur(10vmax);
}

.hero-background .blob1 {
  background: var(--blue);
  background: -webkit-linear-gradient(to right, var(--dark), var(--blue));
  background: linear-gradient(to right, var(--dark), var(--blue) 65%);
  left: -5%;
}

.hero-background .blob2 {
  background: var(--green);
  background: -webkit-linear-gradient(to right, var(--dark), var(--green));
  background: linear-gradient(to right, var(--dark), var(--green) 65%);
  left: 85%;
  top: -5%;
}

.hero-images {
  height: calc(var(--hero-height) - 5vh);
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: right;
  top: 18vh;
  width: 45%;
}

.hero-images img {
  left: 0;
  position: inherit;
  transform-origin: left top;
  -webkit-filter: drop-shadow(5px 5px 15px rgb(0 0 0 / 10%));
  filter: drop-shadow(5px 5px 15px rgb(0 0 0 / 10%));
}

.hero-images img:nth-child(1) {
  left: 10%;
  width: 100%;
}

.hero-images img:nth-child(2) {
  top: 150px;
  width: 35%;
}

@media screen and (max-width: px) {
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  25% {
    border-radius: 30% 70% 70% 100% / 40% 70% 30% 20%;
    scale: 1 1.4;
  }

  50% {
    border-radius: 70% 20% 50% 30% / 30% 30% 70% 70%;
    scale: 1 1.1;
  }

  75% {
    border-radius: 32% 68% 83% 14% / 25% 62% 38% 75%;
    scale: 1, 1.5;
  }

  to {
    rotate: 360deg;
  }
}
