---
import "./Header.styles.css";
import logo from "../../assets/images/fusebit__logo.svg?raw";

const headerLinks = [
  {
    title: "Integrations",
    url: "#integrations",
  },
  {
    title: "Docs",
    url: "#docs",
  },
  {
    title: "Blog",
    url: "#blog",
  },
];
---

<header class="header">
  <nav class="container">
    <ul>
      <li>
        <a href="/" class="header-logo">
          <Fragment set:html={logo} />
        </a>
      </li>

      <div class="header-links">
        {
          headerLinks.map((link) => (
            <li>
              <a href={link.url} class="header-link">
                {link.title}
              </a>
            </li>
          ))
        }
      </div>

      <div class="header-cta">
        <li>
          <a href="#login" class="header-link">Login</a>
        </li>
        <li>
          <a href="#signup" class="header-link header-signup">Sign up</a>
        </li>
      </div>

      <button class="header-mobile--btn">
        <span class="top"></span>
        <span class="center1"></span>
        <span class="center2"></span>
        <span class="bottom"></span>
      </button>
    </ul>
  </nav>
</header>
